body {
	width: 960px; /* how wide to make your web page */
	margin: 0 auto;
	padding: 10px;
	font:12px/16px Verdana, sans-serif; /* default font */
}

div#box {
	width: 930px;
	margin: 0 auto; /* when two "arguments" are passed to margin or padding, the first defines top
		and bottom margin/padding and the second defines left and right margin/padding */
	padding: 25px; /* when only one "argument" is passed to margin or padding, it defines the
		margin/padding on all four sides */
	border: 1px solid black; /* the 1px defines the border-width; the solid defines the border-style;
		the black defines the border-color */
    font-size: large;
    align-items: center;
}
div#main {
    margin-top: 10px;
}

h2 {
    margin-top: 40px;
}

li {
    margin-bottom: 10px;
}

/* Used to keep form buttons in one line */
form.row {
    display: inline;
}